.homebutton {
    width: 40px;
    border-radius: 20px;
    float: left;
  }
  h1 {
    text-align: center;
  }
  .dp {
    width: 200px;
    float: left;
    margin-right: 10px;
  }
  a {
    text-decoration: none;
    color: black;
  }