.footdiv{
            text-align: center;
        }
      .profilepic {
        width: 100px;
        border-radius: 50px;
        float: left;
        margin-right: 30px;
      }
      .username {
        font-weight: bold;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
      .DescPara {
        font-family: monospace;
      }
      a {
        text-decoration: none;
        color: black;
      }
      h1 {
        text-align: center;
      }
      .navbar {
        text-align: center;
      }
      .socialslogo{
        width: 30px;
        border-radius: 15px;
        float: left;
        margin: 0 20px;
        }

      .socials{
        display: flex;
        justify-content: center; /* Horizontally center items */
        align-items: center; /* Vertically center items */
        height: 100; /* Adjust as needed */
        }
        .footer{ 
        position: absolute; 
        bottom: 0; 
        left: 0; 
        z-index: 10;
        }